## Pandas GroupBy Operations

### Understanding GroupBy objects

In [1]:
import pandas as pd
pd.__version__
# conda update pandas

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [3]:
titanic.head(20)

In [ ]:
titanic.tail()

In [4]:
titanic.info()

In [13]:
titanic.groupby(["sex"]).survived.count()

In [9]:
titanic_slice.groupby("sex").mean()

In [8]:
gbo = titanic_slice.groupby("sex")
gbo2 = titanic.groupby("pclass")

In [ ]:
type(gbo)

In [ ]:
gbo.groups

In [ ]:
l = list(gbo)

In [ ]:
l

In [ ]:
len(l)

In [ ]:
l[1]

In [ ]:
type(l[0])

In [ ]:
type(l[0][0])

In [ ]:
l[0][1]

In [ ]:
type(l[0][1])

In [ ]:
l = [1, True, "Hila", 3.3]
b = (3,l)
type(b)

In [ ]:
l[1]

In [ ]:
titanic_slice.loc[titanic_slice.sex == "female"]

In [ ]:
titanic_slice_f = titanic_slice.loc[titanic_slice.sex == "female"]
titanic_slice_f

In [ ]:
titanic_slice_m = titanic_slice.loc[titanic_slice.sex == "male"]
titanic_slice_m

In [ ]:
titanic_slice_f.equals(l[0][1])

In [ ]:
for element in gbo2:
    print(element[1])

In [ ]:
l = list(gbo2)
len(l)

### Splitting with many Keys

In [14]:
import pandas as pd

In [15]:
summer = pd.read_csv("summer.csv")

In [16]:
summer.head()

In [17]:
summer.info()

In [20]:
summer.Country.nunique()

In [ ]:
split1 = summer.groupby("Country")

In [ ]:
l = list(split1)
l

In [ ]:
len(l)

In [ ]:
l[100]

In [21]:
split2 = summer.groupby(by = ["Country", "Gender","Medal"])

In [22]:
l2 = list(split2)

In [23]:
len(l2)

In [ ]:
l2[104]

In [ ]:
l2[104][0]

In [ ]:
l2[157][1]

### split-apply-combine explained

In [ ]:
import pandas as pd

In [24]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

In [ ]:
titanic_slice = titanic.iloc[:10, [2,3]]

In [ ]:
titanic_slice

In [ ]:
list(titanic_slice.groupby("sex"))[0][1]

In [ ]:
list(titanic_slice.groupby("sex"))[1][1]

In [ ]:
titanic_slice.groupby("sex").mean()

In [ ]:
titanic.groupby("sex").sum()

In [ ]:
titanic.groupby(by=["sex","pclass"]).size()

In [27]:
new_df = titanic.groupby("sex").mean()

In [ ]:
new_df

In [25]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [28]:
new_df.plot(kind = "bar", subplots = True, figsize = (8,15), fontsize = 13)
plt.show()

### split-apply-combine applied

In [1]:
import pandas as pd

In [3]:
summer = pd.read_csv("summer.csv")

In [5]:
summer[(summer.Year==1896) |(summer.Medal=='Gold')]

In [6]:
summer.info()

In [10]:
summer.groupby(by=["Year","Medal"]).Discipline.sum()

In [7]:
summer.head(5)

In [17]:
summer.iloc[0:5].groupby("Medal").sum()

In [15]:
summer.iloc[0:5].groupby("Medal").Medal.count()
#summer.iloc[0:5]

In [8]:
summer.iloc[0:5]

In [27]:
medals_per_country = summer.groupby(by=["Country"]).Medal.count().sort_values(ascending=False)
medals_per_country[0:20]

In [ ]:
summer[summer.Medal=='Gold']

# How to get only the top 20 countries?

In [28]:
medals_per_country = summer.groupby(by=["Country","Medal"]).Medal.count().nlargest(n = 20)
medals_per_country

In [29]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [30]:
medals_per_country.plot(kind = "bar", figsize = (14, 8), fontsize = 14)
plt.xlabel("Country", fontsize = 13)
plt.ylabel("No. of Medals", fontsize = 13)
plt.title("Summer Olympic Games (Total Medals per Country)", fontsize = 16)
plt.show()

In [31]:
titanic = pd.read_csv("titanic.csv")

In [32]:
titanic.head()

In [ ]:
titanic.info()

In [33]:
titanic.describe()

In [34]:
titanic.fare.mean()

In [35]:
titanic.groupby("pclass").fare.mean()

In [ ]:
titanic.survived.sum()

In [ ]:
titanic.survived.mean()

In [ ]:
titanic.groupby("sex").survived.mean()

In [36]:
titanic.groupby(by=["pclass","sex"]).survived.mean()

In [37]:
titanic["ad_chi"] = "adult"
titanic.head()

In [38]:
titanic.loc[titanic.age < 6, "ad_chi"] = "toddler"

In [39]:
titanic.head(20)

In [40]:
titanic.ad_chi.value_counts()

In [41]:
titanic.groupby("ad_chi").survived.mean()

In [44]:
titanic.info()

In [46]:
titanic.groupby(["pclass", "ad_chi"]).survived.count()

In [50]:
titanic

In [49]:
titanic.groupby(["pclass", "ad_chi","sex"]).survived.mean()

In [51]:
w_and_c_first = titanic.groupby(["sex", "ad_chi"]).survived.mean().sort_values(ascending = False)

In [52]:
w_and_c_first.plot(kind = "bar", figsize = (14,8), fontsize = 14)
plt.xlabel("Groups", fontsize = 13)
plt.ylabel("Survival Rate", fontsize = 13)
plt.title("Titanic Survival Rate by Sex/Age-Groups", fontsize = 16)
plt.show()

### Advanced Aggregation with agg()

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv", usecols = ["survived", "pclass", "sex", "age", "fare"])

In [ ]:
titanic.head()

In [ ]:
titanic.groupby("sex").mean()

In [ ]:
titanic.groupby("sex").sum()

In [ ]:
titanic.groupby("sex").agg(["mean", "sum", "min", "max"])

In [ ]:
titanic.groupby("sex").agg({"survived": ["sum", "mean"], "pclass": "mean", "age": ["mean", "median"], "fare": "max"})

### GroupBy Aggregation with Relabeling (new in Version 0.25)

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv", usecols = ["survived", "pclass", "sex", "age", "fare"])

In [ ]:
titanic.head()

In [ ]:
titanic.groupby("sex").survived.mean()

In [ ]:
titanic.groupby("sex").agg(survival_rate = ("survived", "mean"))

In [ ]:
titanic.groupby("sex").agg({"survived": ["sum", "mean"], "age": ["mean"]})

In [ ]:
titanic.groupby("sex").agg(survived_total = ("survived", "sum"), 
                           survival_rate = ("survived", "mean"), mean_age = ("age", "mean"))

### Transformation with transform()

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.groupby(["sex", "pclass"]).survived.transform("mean")

In [ ]:
titanic["group_surv_rate"] = titanic.groupby(["sex", "pclass"]).survived.transform("mean")

In [ ]:
titanic.head()

In [ ]:
titanic["outliers"] = abs(titanic.survived-titanic.group_surv_rate)

In [ ]:
titanic[titanic.outliers > 0.85]

### Replacing NA Values by group-specific Values

In [ ]:
import pandas as pd

In [53]:
titanic = pd.read_csv("titanic.csv")

In [55]:
titanic.head(20)

In [56]:
titanic.info()

In [57]:
mean_age = titanic.age.mean()
mean_age

In [60]:
titanic.tail(10)

In [58]:
titanic.age.fillna(mean_age)

In [61]:
titanic.groupby(["sex", "pclass"]).age.mean()

In [62]:
titanic["group_mean_age"] = titanic.groupby(["sex", "pclass"]).age.transform("mean")

In [63]:
titanic.head(20)

In [ ]:
titanic.age.fillna(titanic.group_mean_age, inplace = True)

In [ ]:
titanic.head(20)

In [ ]:
titanic.info()

### Generalizing split-apply-combine with apply()

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv", usecols = ["survived", "pclass", "sex", "age", "fare"])

In [ ]:
titanic.head()

In [ ]:
titanic.groupby("sex").mean()

In [ ]:
female_group = list(titanic.groupby("sex"))[0][1]
female_group

In [ ]:
female_group.mean().astype("float")

In [ ]:
def group_mean(group):
    return group.mean()

In [ ]:
group_mean(female_group)

In [ ]:
titanic.groupby("sex").apply(group_mean)

In [ ]:
titanic.nlargest(5, "age")

In [ ]:
def five_oldest_surv(group):
    return group[group.survived == 1].nlargest(5, "age")

In [ ]:
titanic.groupby("sex").apply(five_oldest_surv)

### Hierarchical Indexing (MultiIndex) with Groupby

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv", usecols = ["survived", "pclass", "sex", "age", "fare"])

In [ ]:
titanic

In [ ]:
summary = titanic.groupby(["sex", "pclass"]).mean()

In [ ]:
summary

In [ ]:
summary.index

In [ ]:
summary.loc[("female", 2), :]

In [ ]:
summary.loc[("female", 2), "age"]

In [ ]:
summary.swaplevel().sort_index()

In [ ]:
summary.reset_index()

### stack() and unstack()

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
medals_by_country = summer.groupby(["Country", "Medal"]).Medal.count()

In [ ]:
medals_by_country

In [ ]:
medals_by_country.loc[("USA", "Gold")]

In [ ]:
medals_by_country.shape

In [ ]:
medals_by_country.unstack(level = -1)

In [ ]:
medals_by_country = medals_by_country.unstack(level = -1, fill_value= 0)

In [ ]:
medals_by_country.head()

In [ ]:
medals_by_country.shape

In [ ]:
medals_by_country = medals_by_country[["Gold", "Silver", "Bronze"]]

In [ ]:
medals_by_country.sort_values(by = ["Gold", "Silver", "Bronze"], ascending = [False, False, False], inplace = True)

In [ ]:
medals_by_country.head(10)

In [ ]:
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
medals_by_country.head(10).plot(kind = "bar", figsize = (12,8), fontsize = 13)
plt.xlabel("Country", fontsize = 13)
plt.ylabel("Medals", fontsize = 13)
plt.title("Medals per Country", fontsize = 16)
plt.legend(fontsize = 15)
plt.show()

In [ ]:
medals_by_country.stack().unstack()