## Reshaping DataFrames

### Transposing DataFrames

In [4]:
import pandas as pd
pd.__version__

'1.0.2'

In [2]:
titanic = pd.read_csv("titanic.csv")

In [3]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [ ]:
titanic.T

In [ ]:
titanic.transpose()

In [ ]:
titanic.info()

In [ ]:
titanic = titanic.transpose()

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
titanic = titanic.T

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
titanic.survived.mean()

In [ ]:
#titanic.groupby(["sex", "pclass"]).survived.mean()

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.info()

In [ ]:
titanic.groupby(["sex", "pclass"]).survived.mean().unstack().T

In [ ]:
titanic.T.T.info()

### Pivoting DataFrames with pivot()

In [ ]:
import pandas as pd

In [ ]:
table1 = pd.read_csv("table1.csv")

In [ ]:
table1.head(10)

In [ ]:
table1.tail(10)

In [ ]:
table1.info()

In [ ]:
table1.shape

In [ ]:
table1.pivot(index = "Country", columns = "Medal", values = "Count")

In [ ]:
table1_piv = table1.pivot(index = "Country", columns = "Medal", values = "Count").fillna(0)

In [ ]:
table1_piv

In [ ]:
table1_piv.shape

In [ ]:
table1_piv.info()

In [ ]:
table1.head()

In [ ]:
table1.set_index(["Country", "Medal"]).unstack(fill_value = 0)

In [ ]:
table1_piv

### Limits of pivot()

In [ ]:
import pandas as pd

In [ ]:
table2 = pd.read_csv("table2.csv")

In [ ]:
table2.head(20)

In [ ]:
table2.tail(10)

In [ ]:
table2.info()

In [ ]:
table2.shape

In [ ]:
table2.pivot(index = "Country", columns = "Medal", values = "Count")

In [ ]:
table2.groupby(["Country", "Year", "Medal"]).Count.sum().unstack().fillna(0)

In [ ]:
table2_piv = table2.groupby(["Country", "Year", "Medal"]).Count.sum().unstack().fillna(0)

In [ ]:
table2_piv

In [ ]:
table2_piv.info()

In [ ]:
table2_piv.shape

### pivot_table()

In [5]:
import pandas as pd

In [ ]:
table2 = pd.read_csv("table2.csv")

In [ ]:
table2.head(10)

In [ ]:
table2.pivot_table(index = "Country", columns = "Medal", values = "Count", aggfunc="sum", fill_value= 0, margins= True, margins_name="Total")

In [ ]:
table2.groupby(["Country", "Medal"]).Count.sum().unstack(fill_value = 0)

In [ ]:
agg = table2.groupby(["Country", "Medal"]).Count.sum().unstack(fill_value = 0)

In [ ]:
agg.head()

In [ ]:
agg["All"] = agg.sum(axis = 1)

In [ ]:
agg.loc["All"] = agg.sum(axis = 0)

In [ ]:
agg

### pd.crosstab()

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
pd.crosstab(titanic.sex, titanic.pclass, margins=True, normalize= True)

In [ ]:
titanic.groupby(["sex", "pclass"]).pclass.count().unstack()

In [ ]:
pd.crosstab(index = titanic.sex, columns =  titanic.pclass, values=titanic.age, aggfunc="mean")

In [ ]:
titanic.pivot_table(index = "sex", columns = "pclass", values = "age", aggfunc = "mean")

In [ ]:
titanic.groupby(["sex", "pclass"]).age.mean().unstack()

In [ ]:
pd.crosstab(index = titanic.sex, columns =  titanic.pclass, values = titanic.fare, aggfunc = "sum", margins=True, normalize= True)

In [6]:
summer = pd.read_csv("summer.csv")

In [7]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [ ]:
summer.info()

In [13]:
pd.crosstab(index = [summer.Year, summer.Country], columns = summer.Medal, aggfunc = "count",
            values = summer.Athlete, margins = True).fillna(0)

Medal          Bronze     Gold   Silver    All
Year Country
1896 AUS          0.0      2.0      0.0      2
     AUT          2.0      2.0      1.0      5
     DEN          3.0      1.0      2.0      6
     FRA          2.0      5.0      4.0     11
     GBR          2.0      2.0      3.0      7
...               ...      ...      ...    ...
2012 UKR         12.0      9.0      4.0     25
     USA         46.0    147.0     57.0    250
     UZB          2.0      1.0      0.0      3
     VEN          0.0      1.0      0.0      1
All           10369.0  10484.0  10308.0  31161

[1158 rows x 4 columns]

In [ ]:
summer.pivot_table(index=["Year", "Country"], columns = "Medal", aggfunc = "count",
                   values = "Athlete", fill_value=0, margins = True)

In [ ]:
summer.groupby(["Year", "Country", "Medal"]).Medal.count().unstack(fill_value = 0)

### Melting DataFrames with melt()

In [ ]:
import pandas as pd

In [ ]:
table_2012 = pd.read_csv("table_2012.csv")

In [ ]:
table_2012

In [ ]:
table_2012.shape

In [ ]:
table_2012.melt(id_vars = "Country", value_vars = ["Gold", "Silver", "Bronze"], var_name="Medal", value_name="Count")

In [ ]:
melt_2012 = table_2012.melt(id_vars = "Country", value_vars = ["Gold", "Silver", "Bronze"], 
                            var_name = "Medal", value_name = "Count")

In [ ]:
melt_2012

In [ ]:
melt_2012.pivot(index = "Country", columns = "Medal", values = "Count").sort_values("Gold", ascending = False)

In [14]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))