# Project 1: Explanatory Data Analysis & Data Presentation (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 1 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Data Import and first Inspection

1. __Import__ the movies dataset from the CSV file "movies_complete.csv". __Inspect__ the data.

In [ ]:
import pandas as pd
df = pd.read_csv("movies_complete.csv")

__Some additional information on Features/Columns__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [ ]:
df

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44691 entries, 0 to 44690
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44691 non-null  int64
 1   title                  44691 non-null  object
 2   tagline                20284 non-null  object
 3   release_date           44657 non-null  object
 4   genres                 42586 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44681 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38835 non-null  object
 11  vote_count             44691 non-null  float64
 12  vote_average           42077 non-null  float64
 13  popularity             44691 non-null  float64
 14  runtime                43179 non-null  float64
 15  overview               43740 non-null  object
 16  spoken_languages       41094 non-null  object
 17  poster_path            44467 non-null  object
 18  cast                   42502 non-null  object
 19  cast_size              44691 non-null  int64
 20  crew_size              44691 non-null  int64
 21  director               43960 non-null  object
dtypes: float64(6), int64(3), object(13)
memory usage: 7.5+ MB

In [ ]:
df.describe()

In [146]:
df.title

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
44686                         Subdue
44687            Century of Birthing
44688                       Betrayal
44689               Satan Triumphant
44690                       Queerama
Name: title, Length: 44691, dtype: object

## The best and the worst movies...

2. __Filter__ the Dataset and __find the best/worst n Movies__ with the

- Highest Revenue
- Highest Budget
- Highest Profit (=Revenue - Budget)
- Lowest Profit (=Revenue - Budget)
- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10) 
- Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
- Highest number of Votes
- Highest Rating (only movies with 10 or more Ratings)
- Lowest Rating (only movies with 10 or more Ratings)
- Highest Popularity

__Define__ an appropriate __user-defined function__ to reuse code.

__Movies Top 5 - Highest Revenue__

In [147]:
df.sort_values(by= 'revenue_musd', ascending= False).head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
14448,19995,Avatar,Enter the World of Pandora.,2009-12-10,Action|Adventure|Fantasy|Science Fiction,Avatar Collection,en,237.0,2787.965087,Ingenious Film Partners|Twentieth Century Fox ...,...,7.2,185.070892,162.0,"In the 22nd century, a paraplegic Marine is di...",English|Español,<img src='http://image.tmdb.org/t/p/w185//btnl...,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,83,153,James Cameron
26265,140607,Star Wars: The Force Awakens,Every generation has a story.,2015-12-15,Action|Adventure|Science Fiction|Fantasy,Star Wars Collection,en,245.0,2068.223624,Lucasfilm|Truenorth Productions|Bad Robot,...,7.5,31.626013,136.0,Thirty years after defeating the Galactic Empi...,English,<img src='http://image.tmdb.org/t/p/w185//9rd0...,Daisy Ridley|John Boyega|Adam Driver|Harrison ...,84,113,J.J. Abrams
1620,597,Titanic,Nothing on Earth could come between them.,1997-11-18,Drama|Romance|Thriller,NaN,en,200.0,1845.034188,Paramount Pictures|Twentieth Century Fox Film ...,...,7.5,26.889070,194.0,"84 years later, a 101-year-old woman named Ros...",English|Français|Deutsch|svenska|Italiano|Pусский,<img src='http://image.tmdb.org/t/p/w185//9xjZ...,Kate Winslet|Leonardo DiCaprio|Frances Fisher|...,136,65,James Cameron
17669,24428,The Avengers,Some assembly required.,2012-04-25,Science Fiction|Action|Adventure,The Avengers Collection,en,220.0,1519.557910,Paramount Pictures|Marvel Studios,...,7.4,89.887648,143.0,When an unexpected enemy emerges and threatens...,English,<img src='http://image.tmdb.org/t/p/w185//RYMX...,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,115,147,Joss Whedon
24812,135397,Jurassic World,The park is open.,2015-06-09,Action|Adventure|Science Fiction|Thriller,Jurassic Park Collection,en,150.0,1513.528810,Universal Studios|Amblin Entertainment|Legenda...,...,6.5,32.790475,124.0,Twenty-two years after the events of Jurassic ...,English,<img src='http://image.tmdb.org/t/p/w185//rhr4...,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,28,435,Colin Trevorrow

__Movies Top 5 - Highest Budget__

In [148]:
df.sort_values(by= 'budget_musd', ascending= False).head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
16986,1865,Pirates of the Caribbean: On Stranger Tides,Live Forever Or Die Trying.,2011-05-14,Adventure|Action|Fantasy,Pirates of the Caribbean Collection,en,380.0,1045.713802,Walt Disney Pictures|Jerry Bruckheimer Films|M...,...,6.4,27.887720,136.0,Captain Jack Sparrow crosses paths with a woma...,English|Español,<img src='http://image.tmdb.org/t/p/w185//keGf...,Johnny Depp|Penélope Cruz|Ian McShane|Kevin Mc...,36,39,Rob Marshall
11743,285,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.",2007-05-19,Adventure|Fantasy|Action,Pirates of the Caribbean Collection,en,300.0,961.000000,Walt Disney Pictures|Jerry Bruckheimer Films|S...,...,6.9,31.363664,169.0,"Captain Barbossa, long believed to be dead, ha...",English,<img src='http://image.tmdb.org/t/p/w185//oVh3...,Johnny Depp|Orlando Bloom|Keira Knightley|Stel...,34,32,Gore Verbinski
26268,99861,Avengers: Age of Ultron,A New Age Has Come.,2015-04-22,Action|Adventure|Science Fiction,The Avengers Collection,en,280.0,1405.403694,Marvel Studios|Prime Focus|Revolution Sun Studios,...,7.3,37.379420,141.0,When Tony Stark tries to jumpstart a dormant p...,English,<img src='http://image.tmdb.org/t/p/w185//4ssD...,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,72,74,Joss Whedon
10985,1452,Superman Returns,NaN,2006-06-28,Adventure|Fantasy|Action|Science Fiction,Superman Collection,en,270.0,391.081192,DC Comics|Legendary Pictures|Warner Bros.|Bad ...,...,5.4,13.284712,154.0,Superman returns to discover his 5-year absenc...,English|Français|Deutsch,<img src='http://image.tmdb.org/t/p/w185//6ZYO...,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,18,24,Bryan Singer
18517,49529,John Carter,"Lost in our world, found in another.",2012-03-07,Action|Adventure|Science Fiction,NaN,en,260.0,284.139100,Walt Disney Pictures,...,6.1,14.670353,132.0,"John Carter is a war-weary, former military ca...",English,<img src='http://image.tmdb.org/t/p/w185//7GSS...,Taylor Kitsch|Lynn Collins|Samantha Morton|Wil...,28,132,Andrew Stanton

__Movies Top 5 - Highest Profit__

In [149]:
df_profits = df.copy()
df_profits['profits'] = df_profits['revenue_musd'] - df_profits['budget_musd']
df_profits.sort_values(by='profits', ascending= False).head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profits
14448,19995,Avatar,Enter the World of Pandora.,2009-12-10,Action|Adventure|Fantasy|Science Fiction,Avatar Collection,en,237.0,2787.965087,Ingenious Film Partners|Twentieth Century Fox ...,...,185.070892,162.0,"In the 22nd century, a paraplegic Marine is di...",English|Español,<img src='http://image.tmdb.org/t/p/w185//btnl...,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,83,153,James Cameron,2550.965087
26265,140607,Star Wars: The Force Awakens,Every generation has a story.,2015-12-15,Action|Adventure|Science Fiction|Fantasy,Star Wars Collection,en,245.0,2068.223624,Lucasfilm|Truenorth Productions|Bad Robot,...,31.626013,136.0,Thirty years after defeating the Galactic Empi...,English,<img src='http://image.tmdb.org/t/p/w185//9rd0...,Daisy Ridley|John Boyega|Adam Driver|Harrison ...,84,113,J.J. Abrams,1823.223624
1620,597,Titanic,Nothing on Earth could come between them.,1997-11-18,Drama|Romance|Thriller,NaN,en,200.0,1845.034188,Paramount Pictures|Twentieth Century Fox Film ...,...,26.889070,194.0,"84 years later, a 101-year-old woman named Ros...",English|Français|Deutsch|svenska|Italiano|Pусский,<img src='http://image.tmdb.org/t/p/w185//9xjZ...,Kate Winslet|Leonardo DiCaprio|Frances Fisher|...,136,65,James Cameron,1645.034188
24812,135397,Jurassic World,The park is open.,2015-06-09,Action|Adventure|Science Fiction|Thriller,Jurassic Park Collection,en,150.0,1513.528810,Universal Studios|Amblin Entertainment|Legenda...,...,32.790475,124.0,Twenty-two years after the events of Jurassic ...,English,<img src='http://image.tmdb.org/t/p/w185//rhr4...,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,28,435,Colin Trevorrow,1363.528810
28501,168259,Furious 7,Vengeance Hits Home,2015-04-01,Action,The Fast and the Furious Collection,en,190.0,1506.249360,Universal Pictures|Original Film|Fuji Televisi...,...,27.275687,137.0,Deckard Shaw seeks revenge against Dominic Tor...,English,<img src='http://image.tmdb.org/t/p/w185//d9jZ...,Vin Diesel|Paul Walker|Dwayne Johnson|Michelle...,52,98,James Wan,1316.249360

__Movies Top 5 - Lowest Profit__

In [150]:
df_profits.sort_values(by='profits').head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profits
20959,57201,The Lone Ranger,Never Take Off the Mask,2013-07-03,Action|Adventure|Western,NaN,en,255.000000,89.289910,Walt Disney Pictures|Jerry Bruckheimer Films|I...,...,12.729104,149.0,The Texas Rangers chase down a gang of outlaws...,English,<img src='http://image.tmdb.org/t/p/w185//b2je...,Johnny Depp|Armie Hammer|William Fichtner|Hele...,60,35,Gore Verbinski,-165.710090
7164,10733,The Alamo,You will never forget,2004-04-07,Western|History|War,NaN,en,145.000000,25.819961,Imagine Entertainment|Touchstone Pictures,...,12.240901,137.0,Based on the 1836 standoff between a group of ...,English|Español,<img src='http://image.tmdb.org/t/p/w185//aZrW...,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,20,145,John Lee Hancock,-119.180039
16659,50321,Mars Needs Moms,Mom needs a little space.,2011-03-09,Adventure|Animation|Family,NaN,en,150.000000,38.992758,Walt Disney Animation Studios,...,7.247170,88.0,"When Martians suddenly abduct his mom, mischie...",English,<img src='http://image.tmdb.org/t/p/w185//lOKq...,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,12,7,Simon Wells,-111.007242
43611,339964,Valerian and the City of a Thousand Planets,NaN,2017-07-20,Adventure|Science Fiction|Action,NaN,en,197.471676,90.024292,EuropaCorp,...,15.262706,137.0,"In the 28th century, Valerian and Laureline ar...",Français|English,<img src='http://image.tmdb.org/t/p/w185//jfIp...,Dane DeHaan|Cara Delevingne|Clive Owen|Rihanna...,118,316,Luc Besson,-107.447384
2684,1911,The 13th Warrior,Prey for the living.,1999-08-27,Adventure|Fantasy|Action,NaN,en,160.000000,61.698899,Touchstone Pictures,...,10.308026,102.0,"In AD 922, Arab courtier, Ahmad Ibn Fadlan acc...",English|Norsk,<img src='http://image.tmdb.org/t/p/w185//7pyh...,Antonio Banderas|Vladimir Kulich|Dennis Storhø...,19,17,John McTiernan,-98.301101

__Movies Top 5 - Highest ROI__

In [151]:
df_roi = df.copy()
df_roi['roi'] = df_roi['revenue_musd'] / df_roi['budget_musd']
df_roi['roi'] = df_roi['roi'].round(6)
df_roi[df_roi['budget_musd'] >=10].sort_values(by='roi', ascending= False).head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,roi
1055,601,E.T. the Extra-Terrestrial,He is afraid. He is alone. He is three million...,1982-04-03,Science Fiction|Adventure|Family|Fantasy,NaN,en,10.5,792.965326,Universal Pictures|Amblin Entertainment,...,19.358546,115.0,After a gentle alien becomes stranded on Earth...,English,<img src='http://image.tmdb.org/t/p/w185//cBfk...,Henry Thomas|Drew Barrymore|Robert MacNaughton...,13,21,Steven Spielberg,75.520507
255,11,Star Wars,"A long time ago in a galaxy far, far away...",1977-05-25,Adventure|Action|Science Fiction,Star Wars Collection,en,11.0,775.398007,Lucasfilm|Twentieth Century Fox Film Corporation,...,42.149697,121.0,Princess Leia is captured and held hostage by ...,English,<img src='http://image.tmdb.org/t/p/w185//6FfC...,Mark Hamill|Harrison Ford|Carrie Fisher|Peter ...,106,20,George Lucas,70.490728
588,114,Pretty Woman,Who knew it was so much fun to be a hooker?,1990-03-23,Romance|Comedy,NaN,en,14.0,463.000000,Touchstone Pictures|Silver Screen Partners IV,...,13.348451,119.0,When millionaire wheeler-dealer Edward Lewis e...,English|Italiano|日本語,<img src='http://image.tmdb.org/t/p/w185//hMVM...,Julia Roberts|Richard Gere|Ralph Bellamy|Jason...,17,10,Garry Marshall,33.071429
18300,77338,The Intouchables,Sometimes you have to reach into someone else'...,2011-11-02,Drama|Comedy,NaN,fr,13.0,426.480871,Gaumont|TF1 Films Production|Canal+|CinéCinéma...,...,16.086919,112.0,A true story of two men who should never have ...,English|Français,<img src='http://image.tmdb.org/t/p/w185//w7Wx...,François Cluzet|Omar Sy|Audrey Fleurot|Anne Le...,32,34,Eric Toledano,32.806221
1144,1891,The Empire Strikes Back,The Adventure Continues...,1980-05-17,Adventure|Action|Science Fiction,Star Wars Collection,en,18.0,538.400000,Lucasfilm|Twentieth Century Fox Film Corporation,...,19.470959,124.0,"The epic saga continues as Luke Skywalker, in ...",English,<img src='http://image.tmdb.org/t/p/w185//7BuH...,Mark Hamill|Harrison Ford|Carrie Fisher|Billy ...,76,51,Irvin Kershner,29.911111

__Movies Top 5 - Lowest ROI__

In [152]:
df_roi[df_roi['budget_musd'] >=10].sort_values(by='roi').head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,roi
6955,14844,Chasing Liberty,How do you fall in love with the whole world w...,2004-01-09,Comedy|Romance,NaN,en,23.0,0.000012,Alcon Entertainment|ETIC Films|C.R.G. Internat...,...,5.950792,111.0,"The President's daughter, unable to experience...",English|Français|עִבְרִית|Italiano|Español|Deu...,<img src='http://image.tmdb.org/t/p/w185//7qzv...,Mandy Moore|Stark Sands|Tony Jayawardena|Jerem...,11,26,Andy Cadiff,0.000001
8041,18475,The Cookout,"This summer, get your grill on!",2004-09-03,Comedy|Drama,NaN,en,16.0,0.000012,Cookout Productions,...,1.758079,97.0,When Todd Anderson signs a $30 million deal wi...,English,<img src='http://image.tmdb.org/t/p/w185//eUVE...,Ja Rule|Tim Meadows|Jenifer Lewis|Jonathan Sil...,6,4,Lance Rivera,0.000001
17381,33927,Deadfall,...The ultimate con,1993-10-08,Crime|Drama|Thriller,NaN,en,10.0,0.000018,Trimark Pictures,...,1.145806,98.0,"After he accidentally kills his father, Mike, ...",English|Español,<img src='http://image.tmdb.org/t/p/w185//kgfv...,Michael Biehn|Sarah Trigger|Nicolas Cage|James...,12,3,Christopher Coppola,0.000002
6678,10944,In the Cut,Everything you know about desire is dead wrong.,2003-09-09,Mystery|Thriller,NaN,en,12.0,0.000023,Pathe Productions|Red Turtle,...,5.799628,119.0,Following the gruesome murder of a young woman...,English,<img src='http://image.tmdb.org/t/p/w185//lcor...,Meg Ryan|Mark Ruffalo|Jennifer Jason Leigh|Nic...,6,25,Jane Campion,0.000002
20015,98339,The Samaritan,NaN,2012-03-02,Thriller,NaN,en,12.0,0.002521,Quickfire Films|H2O Motion Pictures|2262730 On...,...,11.521280,90.0,"After twenty years in prison, Foley is finishe...",English,<img src='http://image.tmdb.org/t/p/w185//zSwC...,Samuel L. Jackson|Luke Kirby|Ruth Negga|Tom Wi...,13,34,David Weaver,0.000210

__Movies Top 5 - Most Votes__

In [153]:
df.sort_values(by='vote_average', ascending= False).head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
36996,162611,Portrait of a Young Man in Three Movements,NaN,1931-04-15,NaN,NaN,en,NaN,NaN,NaN,...,10.0,0.036471,54.0,This is a non-narrative film comprised mostly ...,NaN,NaN,NaN,0,1,Henwar Rodakiewicz
33891,143980,Brave Revolutionary,NaN,1994-07-22,NaN,NaN,hi,NaN,NaN,NaN,...,10.0,0.318826,159.0,Lack-lustred and alcoholic Pratap Narayan Tila...,हिन्दी,<img src='http://image.tmdb.org/t/p/w185//zAb2...,Nana Patekar|Dimple Kapadia|Atul Agnihotri|Mam...,27,9,Mehul Kumar
1615,64562,Other Voices Other Rooms,NaN,1995-09-15,Drama,NaN,en,NaN,NaN,NaN,...,10.0,0.036680,NaN,Truman Capote's semi-autobiographical first no...,NaN,<img src='http://image.tmdb.org/t/p/w185//4ifP...,Anna Levine,1,0,NaN
35505,211139,The Lion of Thebes,NaN,1964-06-27,Drama|Action|Adventure,NaN,en,NaN,NaN,La Société des Films Sirius,...,10.0,1.783625,89.0,"Fleeing Troy in the wake of its destruction, f...",Italiano|Español,<img src='http://image.tmdb.org/t/p/w185//tdOc...,Mark Forest|Yvonne Furneaux|Massimo Serato|Pie...,7,10,Giorgio Ferroni
25882,287299,Katt Williams: Priceless: Afterlife,"Everybody has a price, because if you didn't y...",2014-08-16,TV Movie|Comedy,NaN,en,NaN,NaN,New Wave Entertainment Television,...,10.0,0.476007,58.0,Katt Williams performs in an all-new stand-up ...,English,<img src='http://image.tmdb.org/t/p/w185//wKrH...,Katt Williams|Phedra Syndelle|Christina Ingram...,4,2,Spike Lee

__Movies Top 5 - Highest Rating__

In [154]:
df[df['vote_count'] >= 10].sort_values(by= 'vote_average', ascending= False).head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
20787,130824,As I Was Moving Ahead Occasionally I Saw Brief...,The ultimate Dogma movie before the birth of D...,2000-07-19,Documentary,NaN,en,NaN,NaN,NaN,...,9.5,0.798400,288.0,"My film diaries 1970-1979: my marriage, childr...",English,<img src='http://image.tmdb.org/t/p/w185//k0I6...,Jane Brakhage|Stan Brakhage|Robert Breer|Holli...,15,5,Jonas Mekas
42626,420714,Planet Earth II,NaN,2016-11-06,Documentary,NaN,en,NaN,NaN,BBC|France Télévisions|ZDF|BBC America,...,9.5,5.651997,300.0,David Attenborough presents a documentary seri...,English,<img src='http://image.tmdb.org/t/p/w185//gTvA...,David Attenborough,1,4,NaN
18462,26397,The Civil War,It divided a country. It created a nation.,1990-09-23,Documentary,NaN,en,NaN,NaN,Florentine Films|American Documentaries Inc.|K...,...,9.2,3.431403,680.0,This highly acclaimed mini series traces the c...,English|Français,<img src='http://image.tmdb.org/t/p/w185//r4sW...,Sam Waterston|Julie Harris|Jason Robards|Morga...,15,7,Ken Burns
10233,19404,Dilwale Dulhania Le Jayenge,Come... Fall In Love,1995-10-20,Comedy|Drama|Romance,NaN,hi,13.2,100.0,Yash Raj Films,...,9.1,34.457024,190.0,"Raj is a rich, carefree, happy-go-lucky second...",हिन्दी,<img src='http://image.tmdb.org/t/p/w185//2CAL...,Shah Rukh Khan|Kajol|Amrish Puri|Anupam Kher|S...,27,30,Aditya Chopra
42822,409926,Cosmos,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,...,9.1,0.282584,60.0,Astronomer Dr. Carl Sagan is host and narrator...,NaN,<img src='http://image.tmdb.org/t/p/w185//mYrn...,NaN,0,0,NaN

__Movies Top 5 - Lowest Rating__

In [155]:
df[df['vote_count'] >= 10].sort_values(by= 'vote_average').head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
41602,398818,Call Me by Your Name,NaN,2017-10-27,Romance|Drama,NaN,en,4.696772,NaN,Sony Pictures Classics|La Cinéfacture|Minister...,...,0.0,4.300874,130.0,Elio Perlman is spending the summer with his f...,Français|English|Italiano,<img src='http://image.tmdb.org/t/p/w185//tcNn...,Timothée Chalamet|Armie Hammer|Michael Stuhlba...,12,62,Luca Guadagnino
30618,279988,Extinction: Nature Has Evolved,Extinction: Nature Has Evolved,2017-03-10,Thriller|Adventure,NaN,en,3.400000,NaN,Pinnacle Media|Hollywood Vision|Dark Art Films,...,0.0,1.862426,100.0,The amazing footage you will see in this docum...,English|Français,<img src='http://image.tmdb.org/t/p/w185//13LT...,Ben Loyd-Holmes|Sarah Mac|Neil Newbon|Daniel C...,5,3,Adam Spinks
43576,341689,How to Talk to Girls at Parties,Some girls are out of this world.,2017-12-27,Comedy|Music|Romance|Science Fiction,NaN,en,NaN,NaN,HanWay Films|See-Saw Films|Little Punk,...,0.0,2.068008,102.0,"A couple of British 1970s teen-aged boys, Enn ...",English,<img src='http://image.tmdb.org/t/p/w185//v6mP...,Elle Fanning|Nicole Kidman|Ruth Wilson|Matt Lu...,17,24,John Cameron Mitchell
25418,13383,Santa Claus,Better Than a Visit from Saint Nick Himself!,1959-11-26,Drama|Family|Fantasy,NaN,es,NaN,NaN,Cinematográfica Calderón S.A.,...,1.6,1.248299,94.0,"Pitch, the mean-spirited devil, is trying to r...",Español,<img src='http://image.tmdb.org/t/p/w185//xurQ...,José Elías Moreno|Cesáreo Quezadas|José Luis A...,8,4,René Cardona
7030,22727,The Beast of Yucca Flats,Commies made him an atomic mutant!,1961-06-02,Horror|Science Fiction,NaN,en,NaN,NaN,NaN,...,1.6,0.930790,54.0,A Russian scientist is arriving to the states ...,English,<img src='http://image.tmdb.org/t/p/w185//cehv...,Tor Johnson|Douglas Mellor|Barbara Francis|Bin...,14,17,Coleman Francis

__Movies Top 5 - Most Popular__

In [156]:
df.sort_values(by='popularity', ascending= False).head(5)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
30330,211672,Minions,"Before Gru, they had a history of bad bosses",2015-06-17,Family|Animation|Adventure|Comedy,Despicable Me Collection,en,74.0,1156.730962,Universal Pictures|Illumination Entertainment,...,6.4,547.488298,91.0,"Minions Stuart, Kevin and Bob are recruited by...",English,<img src='http://image.tmdb.org/t/p/w185//tMaG...,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,17,12,Kyle Balda
32927,297762,Wonder Woman,Power. Grace. Wisdom. Wonder.,2017-05-30,Action|Adventure|Fantasy,Wonder Woman Collection,en,149.0,820.580447,Dune Entertainment|Atlas Entertainment|Warner ...,...,7.2,294.337037,141.0,An Amazon princess comes to the world of Man t...,Deutsch|English,<img src='http://image.tmdb.org/t/p/w185//gfJG...,Gal Gadot|Chris Pine|Robin Wright|Danny Huston...,106,195,Patty Jenkins
41556,321612,Beauty and the Beast,Be our guest.,2017-03-16,Family|Fantasy|Romance,NaN,en,160.0,1262.886337,Walt Disney Pictures|Mandeville Films,...,6.8,287.253654,129.0,A live-action adaptation of Disney's version o...,English,<img src='http://image.tmdb.org/t/p/w185//tWqi...,Emma Watson|Dan Stevens|Luke Evans|Kevin Kline...,156,115,Bill Condon
42940,339403,Baby Driver,All you need is one killer track.,2017-06-28,Action|Crime,NaN,en,34.0,224.511319,Big Talk Productions|TriStar Pictures|Media Ri...,...,7.2,228.032744,113.0,After being coerced into working for a crime b...,English,<img src='http://image.tmdb.org/t/p/w185//rmnQ...,Ansel Elgort|Lily James|Kevin Spacey|Jamie Fox...,56,183,Edgar Wright
24187,177572,Big Hero 6,From the creators of Wreck-it Ralph and Frozen,2014-10-24,Adventure|Family|Animation|Action|Comedy,NaN,en,165.0,652.105443,Walt Disney Pictures|Walt Disney Animation Stu...,...,7.8,213.849907,102.0,The special bond that develops between plus-si...,English,<img src='http://image.tmdb.org/t/p/w185//xozr...,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,46,39,Chris Williams

## Find your next Movie

3. __Filter__ the Dataset for movies that meet the following conditions:

__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

In [157]:
df[df['genres'].str.contains('Science Fiction', na= False) & df['cast'].str.contains
    ('Bruce Willis', na= False)].sort_values(by='vote_count', ascending= False)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
19218,59967,Looper,"Hunted By Your Future, Haunted By Your Past",2012-09-26,Action|Thriller|Science Fiction,NaN,en,30.0,47.042000,Endgame Entertainment|FilmDistrict|DMG Enterta...,...,6.6,12.727269,118.0,"In the futuristic action thriller Looper, time...",English,<img src='http://image.tmdb.org/t/p/w185//sNjL...,Joseph Gordon-Levitt|Bruce Willis|Emily Blunt|...,34,42,Rian Johnson
1448,18,The Fifth Element,There is no future without it.,1997-05-07,Adventure|Fantasy|Action|Thriller|Science Fiction,NaN,en,90.0,263.920180,Columbia Pictures|Gaumont,...,7.3,24.305260,126.0,"In 2257, a taxi driver is unintentionally give...",English|svenska|Deutsch,<img src='http://image.tmdb.org/t/p/w185//fPtl...,Bruce Willis|Gary Oldman|Ian Holm|Milla Jovovi...,114,134,Luc Besson
20333,72559,G.I. Joe: Retaliation,NaN,2013-03-26,Adventure|Action|Science Fiction|Thriller,G.I. Joe (Live-Action) Collection,en,130.0,371.876278,Paramount Pictures|Di Bonaventura Pictures|Has...,...,5.4,10.560608,110.0,"Framed for crimes against the country, the G.I...",English,<img src='http://image.tmdb.org/t/p/w185//3rWI...,Dwayne Johnson|D.J. Cotrona|Adrianne Palicki|B...,20,28,Jon M. Chu
1786,95,Armageddon,The Earth's Darkest Day Will Be Man's Finest Hour,1998-07-01,Action|Thriller|Science Fiction|Adventure,NaN,en,140.0,553.799566,Jerry Bruckheimer Films|Touchstone Pictures|Va...,...,6.5,13.235112,151.0,When an asteroid threatens to collide with Ear...,English|Pусский,<img src='http://image.tmdb.org/t/p/w185//fMtO...,Bruce Willis|Billy Bob Thornton|Ben Affleck|Li...,67,108,Michael Bay
31,63,Twelve Monkeys,The future is history.,1995-12-29,Science Fiction|Thriller|Mystery,NaN,en,29.5,168.840000,Universal Pictures|Atlas Entertainment|Classico,...,7.4,12.297305,129.0,"In the year 2035, convict James Cole reluctant...",English|Français,<img src='http://image.tmdb.org/t/p/w185//2F9K...,Bruce Willis|Madeleine Stowe|Brad Pitt|Christo...,65,151,Terry Gilliam
3836,9741,Unbreakable,Some things are only revealed by accident.,2000-11-13,Science Fiction|Thriller|Drama,NaN,en,75.0,248.118121,Limited Edition Productions Inc.|Touchstone Pi...,...,6.9,14.678550,106.0,An ordinary man makes an extraordinary discove...,English,<img src='http://image.tmdb.org/t/p/w185//kXkV...,Bruce Willis|Samuel L. Jackson|Robin Wright|Sp...,40,56,M. Night Shyamalan
14135,19959,Surrogates,How do you save humanity when the only thing t...,2009-09-24,Action|Science Fiction|Thriller,NaN,en,80.0,122.444772,Touchstone Pictures|Mandeville Films|Wintergre...,...,5.9,16.211937,89.0,Set in a futuristic world where humans live in...,English|Français,<img src='http://image.tmdb.org/t/p/w185//v3Z0...,Bruce Willis|Radha Mitchell|Rosamund Pike|Jame...,44,25,Jonathan Mostow
27619,307663,Vice,Where the future is your past.,2015-01-16,Thriller|Science Fiction|Action|Adventure,NaN,en,10.0,NaN,Grindstone Entertainment Group|K5 Internationa...,...,4.1,19.236571,96.0,Julian Michaels has designed the ultimate reso...,English,<img src='http://image.tmdb.org/t/p/w185//nPqN...,Ambyr Childers|Thomas Jane|Bryan Greenberg|Bru...,51,56,Brian A Miller
11489,5172,The Astronaut Farmer,NaN,2006-10-15,Adventure|Comedy|Drama|Science Fiction,NaN,en,13.0,11.130889,Polish Brothers Construction,...,6.2,6.862146,104.0,Texan Charles Farmer left the Air Force as a y...,English,<img src='http://image.tmdb.org/t/p/w185//19uG...,Billy Bob Thornton|Virginia Madsen|Max Thierio...,60,16,Michael Polish
499,31586,North,A family comedy that appeals to the child in e...,1994-07-22,Comedy|Drama|Family|Fantasy|Science Fiction,NaN,en,40.0,NaN,Columbia Pictures|New Line Cinema|Castle Rock ...,...,4.8,15.534707,87.0,Eleven-year-old North has had it with his pare...,English,<img src='http://image.tmdb.org/t/p/w185//qXTw...,Elijah Wood|Jason Alexander|Julia Louis-Dreyfu...,56,18,Rob Reiner

__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (sorted from short to long runtime)__

In [158]:
df[df['cast'].str.contains('Uma Thurman', na= False) & df['director'].str.contains
    ('Quentin Tarantino', na= False)].sort_values(by='runtime', ascending=False)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
291,680,Pulp Fiction,Just because you are a character doesn't mean ...,1994-09-10,Thriller|Crime,NaN,en,8.0,213.928762,Miramax Films|A Band Apart|Jersey Films,...,8.3,140.950236,154.0,"A burger-loving hit man, his philosophical par...",English|Español|Français,<img src='http://image.tmdb.org/t/p/w185//d5iI...,John Travolta|Samuel L. Jackson|Uma Thurman|Br...,54,87,Quentin Tarantino
7208,393,Kill Bill: Vol. 2,The bride is back for the final cut.,2004-04-16,Action|Crime|Thriller,Kill Bill Collection,en,30.0,152.159461,Miramax Films|A Band Apart|Super Cool ManChu,...,7.7,21.533072,136.0,The Bride unwaveringly continues on her roarin...,English|普通话|Español|广州话 / 廣州話,<img src='http://image.tmdb.org/t/p/w185//2yhg...,Uma Thurman|David Carradine|Daryl Hannah|Micha...,27,130,Quentin Tarantino
6667,24,Kill Bill: Vol. 1,Go for the kill.,2003-10-10,Action|Crime,Kill Bill Collection,en,30.0,180.949000,Miramax Films|A Band Apart|Super Cool ManChu,...,7.7,25.261865,111.0,An assassin is shot at the altar by her ruthle...,English|日本語|Français,<img src='http://image.tmdb.org/t/p/w185//v7Ta...,Uma Thurman|Lucy Liu|Vivica A. Fox|Daryl Hanna...,36,161,Quentin Tarantino

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (sorted from high to low Revenue)__

In [159]:
from datetime import datetime
df['release_date'] = pd.to_datetime(df['release_date'])
start_date = datetime(2010, 1, 1)
end_date = datetime(2015, 12, 31)
df[df['production_companies'].str.contains('Pixar', na=False) & 
                (df['release_date'] >= start_date) & 
                (df['release_date'] <= end_date)]

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
15236,10193,Toy Story 3,No toy gets left behind.,2010-06-16,Animation|Family|Comedy,Toy Story Collection,en,200.0,1066.969703,Walt Disney Pictures|Pixar Animation Studios,...,7.6,16.966470,103.0,"Woody, Buzz, and the rest of Andy's toys haven...",English|Español,<img src='http://image.tmdb.org/t/p/w185//amY0...,Tom Hanks|Tim Allen|Ned Beatty|Joan Cusack|Mic...,45,38,Lee Unkrich
16392,40619,Day & Night,NaN,2010-06-17,Animation|Family,NaN,en,NaN,NaN,Walt Disney Pictures|Pixar Animation Studios,...,7.6,6.345512,6.0,"When Day, a sunny fellow, encounters Night, a ...",NaN,<img src='http://image.tmdb.org/t/p/w185//eQ1Q...,Wayne Dyer,1,1,Teddy Newton
17220,49013,Cars 2,Ka-ciao!,2011-06-11,Animation|Family|Adventure|Comedy,Cars Collection,en,200.0,559.852396,Walt Disney Pictures|Pixar Animation Studios,...,5.8,13.693002,106.0,Star race car Lightning McQueen and his pal Ma...,English|日本語|Italiano|Français,<img src='http://image.tmdb.org/t/p/w185//okIz...,Owen Wilson|Larry the Cable Guy|Michael Caine|...,47,40,John Lasseter
18900,62177,Brave,Change your fate.,2012-06-21,Animation|Adventure|Comedy|Family|Action|Fantasy,NaN,en,185.0,538.983207,Walt Disney Pictures|Pixar Animation Studios,...,6.7,15.876341,93.0,Brave is set in the mystical Scottish Highland...,English,<img src='http://image.tmdb.org/t/p/w185//8l0p...,Kelly Macdonald|Billy Connolly|Emma Thompson|J...,15,44,Brenda Chapman
20888,62211,Monsters University,School never looked this scary.,2013-06-20,Animation|Family,"Monsters, Inc. Collection",en,200.0,743.559607,Walt Disney Pictures|Pixar Animation Studios,...,7.0,16.267502,104.0,A look at the relationship between Mike and Su...,English,<img src='http://image.tmdb.org/t/p/w185//tyHH...,Billy Crystal|John Goodman|Steve Buscemi|Helen...,24,13,Dan Scanlon
21694,200481,The Blue Umbrella,NaN,2013-02-12,Animation|Romance,NaN,en,NaN,NaN,Pixar Animation Studios,...,7.8,6.568023,7.0,It is just another evening commute until the r...,No Language,<img src='http://image.tmdb.org/t/p/w185//iSWV...,Sarah Jaffe,1,1,Saschka Unseld
21697,213121,Toy Story of Terror!,One toy gets left behind!,2013-10-15,Animation|Comedy|Family,NaN,en,NaN,NaN,Walt Disney Pictures|Pixar Animation Studios,...,7.3,0.512025,22.0,What starts out as a fun road trip for the Toy...,English,<img src='http://image.tmdb.org/t/p/w185//aNDr...,Tom Hanks|Tim Allen|Kristen Schaal|Carl Weathe...,8,8,Angus MacLane
22489,83564,La luna,A young boy discovers his family's most unusua...,2011-01-01,Animation|Family,NaN,en,NaN,NaN,Pixar Animation Studios,...,8.0,7.331398,7.0,A young boy comes of age in the most peculiar ...,English,<img src='http://image.tmdb.org/t/p/w185//iS6D...,Krista Sheffler|Tony Fucile|Phil Sheridan,3,9,Enrico Casarosa
24252,77887,Hawaiian Vacation,NaN,2011-06-16,Animation|Family,NaN,en,NaN,NaN,Pixar Animation Studios,...,6.9,11.315849,6.0,The toys throw Ken and Barbie a Hawaiian vacat...,English,<img src='http://image.tmdb.org/t/p/w185//tByW...,Tim Allen|Jodi Benson|Blake Clark|Tom Hanks|Jo...,21,8,Gary Rydstrom
24254,82424,Small Fry,NaN,2011-11-23,Animation|Family,NaN,en,NaN,NaN,Pixar Animation Studios,...,6.8,9.858179,7.0,A fast food restaurant mini variant of Buzz fo...,English,<img src='http://image.tmdb.org/t/p/w185//z096...,Lori Alan|Carlos Alazraqui|Tim Allen|Bob Berge...,20,6,Angus MacLane
25515,130925,Partysaurus Rex,An Electro Sudsy Good Time!,2012-09-14,Animation|Comedy|Family|Fantasy,NaN,en,NaN,NaN,Walt Disney Pictures|Pixar Animation Studios,...,7.4,6.066171,7.0,When Rex finds himself left behind in the bath...,English,<img src='http://image.tmdb.org/t/p/w185//ylj9...,Tom Hanks|Tim Allen|Wallace Shawn|Corey Burton...,28,13,Mark A. Walsh
25516,141423,The Legend of Mor'du,NaN,2012-01-01,Animation|Family,NaN,en,NaN,NaN,Pixar Animation Studios,...,5.9,3.785848,6.0,The witch from Pixar's Brave uses magical illu...,English,<img src='http://image.tmdb.org/t/p/w185//8FKR...,Julie Walters|Steve Purcell|Callum O'Neil,3,7,Brian Larsen
25517,256835,Toy Story That Time Forgot,NaN,2014-12-02,Animation|Family,NaN,en,NaN,NaN,Pixar Animation Studios,...,6.8,8.609555,22.0,"During a post-Christmas play date, the gang fi...",English,<img src='http://image.tmdb.org/t/p/w185//jqQP...,Tom Hanks|Tim Allen|Joan Cusack|Kristen Schaal...,8,4,Steve Purcell
29957,150540,Inside Out,Meet the little voices inside your head.,2015-06-09,Drama|Comedy|Animation|Family,NaN,en,175.0,857.611174,Walt Disney Pictures|Pixar Animation Studios,...,7.9,23.985587,94.0,"Growing up can be a bumpy road, and it's no ex...",English,<img src='http://image.tmdb.org/t/p/w185//lRHE...,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,65,50,Pete Docter
30388,105864,The Good Dinosaur,Little Arms With Big Attitude,2015-11-14,Adventure|Animation|Family,NaN,en,175.0,331.926147,Walt Disney Pictures|Pixar Animation Studios,...,6.6,12.319595,93.0,An epic journey into the world of dinosaurs wh...,English,<img src='http://image.tmdb.org/t/p/w185//8RSk...,Raymond Ochoa|Jack Bright|Jeffrey Wright|Franc...,19,11,Peter Sohn
31803,286192,Lava,NaN,2015-06-21,Animation|Family,NaN,en,NaN,NaN,Pixar Animation Studios,...,7.4,5.761878,7.0,The story follows the love story of two volcan...,English,<img src='http://image.tmdb.org/t/p/w185//blZS...,Napua Greig|Kuana Torres Kahele,2,19,James Ford Murphy
34560,345637,Sanjay's Super Team,NaN,2015-11-25,Animation,NaN,en,NaN,NaN,Pixar Animation Studios,...,6.9,4.335730,7.0,Sanjay's Super Team follows the daydream of a ...,English,<img src='http://image.tmdb.org/t/p/w185//mShc...,NaN,0,4,Sanjay Patel
40259,145316,Air Mater,NaN,2011-08-04,Animation|Family,NaN,en,NaN,NaN,Pixar Animation Studios,...,5.8,8.844424,6.0,Mater's decision to fly lands him accidentally...,English,<img src='http://image.tmdb.org/t/p/w185//jDwg...,Larry the Cable Guy|Stacy Keach|Keith Ferguson...,12,4,Rob Gibbs
40675,355338,Riley's First Date?,NaN,2015-11-03,Animation|Family,NaN,en,NaN,NaN,Walt Disney Pictures|Pixar Animation Studios,...,7.2,6.051285,5.0,"Riley, now 12, is hanging out at home with her...",English,<img src='http://image.tmdb.org/t/p/w185//pyry...,Amy Poehler|Phyllis Smith|Bill Hader|Lewis Bla...,20,4,Josh Cooley

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent movies first)__

In [160]:
from datetime import datetime
df['release_date'] = pd.to_datetime(df['release_date'])
condition = (
    df['genres'].str.contains('Thriller', na=False) | 
    df['genres'].str.contains('Action', na=False)
) & (df['original_language'] == 'en') & (df['vote_average'] >= 7.5)
df[condition].sort_values(by='release_date', ascending=False)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
44490,417320,Descendants 2,Long live evil.,2017-07-21,TV Movie|Family|Action|Comedy|Music|Adventure,Descendants Collection,en,NaN,NaN,Walt Disney Television,...,7.5,15.842073,111.0,When the pressure to be royal becomes too much...,Dansk,<img src='http://image.tmdb.org/t/p/w185//8BNy...,Dove Cameron|Sofia Carson|Cameron Boyce|Booboo...,17,3,Kenny Ortega
43941,374720,Dunkirk,The event that shaped our world,2017-07-19,Action|Drama|History|Thriller|War,NaN,en,100.00,519.876949,Canal+|Studio Canal|Warner Bros.|Syncopy|RatPa...,...,7.5,30.938854,107.0,The miraculous evacuation of Allied soldiers f...,English|Français|Deutsch,<img src='http://image.tmdb.org/t/p/w185//ebSn...,Fionn Whitehead|Tom Glynn-Carney|Jack Lowden|H...,66,214,Christopher Nolan
42624,382614,The Book of Henry,Never leave things undone.,2017-06-16,Thriller|Drama|Crime,NaN,en,10.00,4.219536,Sidney Kimmel Entertainment|Double Nickel Ente...,...,7.6,24.553725,105.0,"Naomi Watts stars as Susan, a single mother of...",English,<img src='http://image.tmdb.org/t/p/w185//suLF...,Naomi Watts|Jaeden Lieberher|Jacob Tremblay|Sa...,27,27,Colin Trevorrow
26273,283995,Guardians of the Galaxy Vol. 2,Obviously.,2017-04-19,Action|Adventure|Comedy|Science Fiction,Guardians of the Galaxy Collection,en,200.00,863.416141,Walt Disney Pictures|Marvel Studios,...,7.6,185.330992,137.0,The Guardians must fight to keep their newfoun...,English,<img src='http://image.tmdb.org/t/p/w185//y4MB...,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,63,131,James Gunn
43467,416445,Revengeance,Revenge is a dish best served animated,2017-04-05,Comedy|Action|Animation,NaN,en,NaN,NaN,Plymptoons,...,8.0,1.095080,71.0,"A low-rent bounty hunter named Rod Rosse, The ...",English,<img src='http://image.tmdb.org/t/p/w185//p4St...,Charley Rossman|Robert LuJane,2,2,Bill Plympton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11135,44892,The Music Box,Mr. Laurel and Mr. Hardy decided to reorganize...,1932-04-16,Action|Comedy,NaN,en,NaN,NaN,Hal Roach Studios,...,7.5,2.186467,29.0,The Laurel &amp; Hardy Moving Co. have a chall...,English,<img src='http://image.tmdb.org/t/p/w185//qWVG...,Stan Laurel|Oliver Hardy|Dinah|Gladys Gale|Bil...,9,9,James Parrott
8268,877,Scarface,The rise and fall of a power hungry mobster.,1932-04-09,Action|Adventure|Crime|Drama|Thriller,NaN,en,NaN,0.600000,United Artists|The Caddo Company,...,7.5,4.854436,90.0,"Big Louis Costillo, last of the old-style gang...",English|Italiano,<img src='http://image.tmdb.org/t/p/w185//bnFj...,Paul Muni|Ann Dvorak|Karen Morley|Osgood Perki...,41,22,Howard Hawks
8255,25768,"Steamboat Bill, Jr.",The Laugh Special of the Age. See It.,1928-02-14,Action|Comedy,NaN,en,NaN,NaN,Buster Keaton Productions,...,7.9,7.518657,70.0,The just out of college effete son of a no-non...,NaN,<img src='http://image.tmdb.org/t/p/w185//5cY9...,Buster Keaton|Ernest Torrence|Tom McGuire|Mari...,6,12,Buster Keaton
2879,961,The General,"Buster drives ""The General"" to trainload of la...",1926-12-31,Action|Adventure|Comedy|Drama,NaN,en,0.75,NaN,Buster Keaton Productions|Joseph M. Schenck Pr...,...,8.0,8.002953,79.0,During America’s Civil War Union spies steal e...,English,<img src='http://image.tmdb.org/t/p/w185//wZ9R...,Buster Keaton|Marion Mack|Glen Cavender|Jim Fa...,22,25,Buster Keaton
34547,128899,Bardelys the Magnificent,The screen's great lover in a dashing role!,1926-09-30,Action|Drama|Romance,NaN,en,NaN,NaN,Metro-Goldwyn-Mayer (MGM),...,8.0,0.978542,90.0,Rafael Sabatini's story of the swashbuckling e...,English,<img src='http://image.tmdb.org/t/p/w185//9d2W...,John Gilbert|Eleanor Boardman|Roy D'Arcy|Lione...,6,11,King Vidor

## Are Franchises more successful?

4. __Analyze__ the Dataset and __find out whether Franchises (Movies that belong to a collection) are more successful than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

hint: use groupby()

In [161]:
df_analysis = df.copy()

In [162]:
def is_collections(row):
    if isinstance(row['belongs_to_collection'], str):
        return 'Part of a collection'
    else:
        return 'Not a collection'

df_analysis['is_collection'] = df.apply(is_collections, axis=1)

df_analysis

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,is_collection
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,...,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,Part of a collection
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,...,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston,Not a collection
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,...,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch,Part of a collection
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,...,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker,Not a collection
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,...,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer,Part of a collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44686,439050,Subdue,Rising and falling between a man and woman,NaT,Drama|Family,NaN,fa,NaN,NaN,NaN,...,0.072051,90.0,Rising and falling between a man and woman.,فارسی,<img src='http://image.tmdb.org/t/p/w185//pfC8...,Leila Hatami|Kourosh Tahami|Elham Korda,3,9,Hamid Nematollah,Not a collection
44687,111109,Century of Birthing,NaN,2011-11-17,Drama,NaN,tl,NaN,NaN,Sine Olivia,...,0.178241,360.0,An artist struggles to finish his work while a...,NaN,<img src='http://image.tmdb.org/t/p/w185//xZkm...,Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...,11,6,Lav Diaz,Not a collection
44688,67758,Betrayal,A deadly game of wits.,2003-08-01,Action|Drama|Thriller,NaN,en,NaN,NaN,American World Pictures,...,0.903007,90.0,"When one of her hits goes wrong, a professiona...",English,<img src='http://image.tmdb.org/t/p/w185//eGga...,Erika Eleniak|Adam Baldwin|Julie du Page|James...,15,5,Mark L. Lester,Not a collection
44689,227506,Satan Triumphant,NaN,1917-10-21,NaN,NaN,en,NaN,NaN,Yermoliev,...,0.003503,87.0,"In a small town live two brothers, one a minis...",NaN,<img src='http://image.tmdb.org/t/p/w185//aorB...,Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...,5,2,Yakov Protazanov,Not a collection
44690,461257,Queerama,NaN,2017-06-09,NaN,NaN,en,NaN,NaN,NaN,...,0.163015,75.0,50 years after decriminalisation of homosexual...,English,<img src='http://image.tmdb.org/t/p/w185//oxFE...,NaN,0,1,Daisy Asquith,Not a collection

__Franchise vs. Stand-alone: Average Revenue__

In [163]:
df_analysis.groupby(by=['is_collection']).revenue_musd.mean()

is_collection
Not a collection         44.742814
Part of a collection    165.708193
Name: revenue_musd, dtype: float64

__Franchise vs. Stand-alone: Return on Investment / Profitability (median)__

In [164]:
def roi_profit(row):
    roi = row['revenue_musd'] / row['budget_musd']
    profits = row['revenue_musd'] - row['budget_musd']
    if profits == 0:
        return None
    else: return roi / profits
df_analysis['roi_prof'] = df.apply(roi_profit, axis=1)



df_analysis.groupby(by='is_collection')['roi_prof'].mean().dropna()

is_collection
Not a collection        2956.141588
Part of a collection     424.641690
Name: roi_prof, dtype: float64

__Franchise vs. Stand-alone: Average Budget__

In [165]:
df_analysis.groupby(by='is_collection')['budget_musd'].mean().dropna()

is_collection
Not a collection        18.047741
Part of a collection    38.319847
Name: budget_musd, dtype: float64

__Franchise vs. Stand-alone: Average Popularity__

In [166]:
df_analysis.groupby(by='is_collection')['popularity'].mean().dropna()

is_collection
Not a collection        2.592726
Part of a collection    6.245051
Name: popularity, dtype: float64

__Franchise vs. Stand-alone: Average Rating__

In [167]:
df_analysis.groupby(by='is_collection')['vote_average'].mean().dropna()

is_collection
Not a collection        6.008787
Part of a collection    5.956806
Name: vote_average, dtype: float64

## Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

In [168]:
df_analysis[df_analysis['is_collection'] == 'Part of a collection']

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,is_collection,roi_prof
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,...,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,Part of a collection,0.036244
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,...,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch,Part of a collection,NaN
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,...,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer,Part of a collection,NaN
9,710,GoldenEye,No limits. No fears. No substitutes.,1995-11-16,Adventure|Action|Thriller,James Bond Collection,en,58.0,352.194034,United Artists|Eon Productions,...,130.0,James Bond must unmask the mysterious head of ...,English|Pусский|Español,<img src='http://image.tmdb.org/t/p/w185//z0lj...,Pierce Brosnan|Sean Bean|Izabella Scorupco|Fam...,20,46,Martin Campbell,Part of a collection,0.020640
12,21032,Balto,Part Dog. Part Wolf. All Hero.,1995-12-22,Family|Animation|Adventure,Balto Collection,en,NaN,11.348324,Universal Pictures|Amblin Entertainment|Amblim...,...,78.0,An outcast half-wolf risks his life to prevent...,English,<img src='http://image.tmdb.org/t/p/w185//tpoa...,Kevin Bacon|Bob Hoskins|Bridget Fonda|Jim Cumm...,13,14,Simon Wells,Part of a collection,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44582,24568,Carry On Follow That Camel,NaN,1967-09-01,Comedy,The Carry On Collection,en,NaN,NaN,The Rank Organisation|Adder,...,95.0,Bertram Oliphant West (also known as Bo West) ...,English,<img src='http://image.tmdb.org/t/p/w185//8nif...,Phil Silvers|Kenneth Williams|Jim Dale|Charles...,15,2,Gerald Thomas,Part of a collection,NaN
44585,19307,Carry On Camping,Fun and games in the great outdoors!,1969-05-29,Comedy,The Carry On Collection,en,NaN,NaN,The Rank Organisation,...,88.0,Sid and Bernie keep having their amorous inten...,English,<img src='http://image.tmdb.org/t/p/w185//wqe5...,Sid James|Charles Hawtrey|Joan Sims|Kenneth Wi...,17,2,Gerald Thomas,Part of a collection,NaN
44596,21251,Carry On England,NaN,1976-10-01,Comedy,The Carry On Collection,en,NaN,NaN,The Rank Organisation,...,89.0,Captain S. Melly takes over as the new Command...,English,<img src='http://image.tmdb.org/t/p/w185//aXJ8...,Kenneth Connor|Windsor Davies|Judy Geeson|Patr...,15,3,Gerald Thomas,Part of a collection,NaN
44598,460135,LEGO DC Super Hero Girls: Brain Drain,NaN,2017-08-30,Animation,DC Super Hero Girls Collection,en,NaN,NaN,Warner Bros. Animation,...,NaN,"When Supergirl, Wonder Woman, Batgirl, Bumbleb...",English|Polski|Português,<img src='http://image.tmdb.org/t/p/w185//8wz6...,Grey Griffin|Tara Strong|Anais Fairweather|Tea...,17,6,Todd Grimes,Part of a collection,NaN
44609,182030,The Twin Swords,NaN,1965-12-22,Action|Foreign,Red Lotus Collection,zh,NaN,NaN,Shaw Brothers,...,88.0,Kwei Wu happens upon a kidnapping with his wif...,普通话,<img src='http://image.tmdb.org/t/p/w185//nB2w...,Jimmy Wang Yu|Chin Ping|Ivy Ling Po|Petrina Fu...,14,4,Hsu Tseng-Hung,Part of a collection,NaN

__Total number of movies__

In [169]:
df_analysis['belongs_to_collection'].value_counts().dropna()

belongs_to_collection
The Bowery Boys                  29
Totò Collection                  27
Zatôichi: The Blind Swordsman    26
James Bond Collection            26
The Carry On Collection          25
                                 ..
Salt and Pepper Collection        1
Deadpool Collection               1
Ant-Man Collection                1
Elvira Collection                 1
Red Lotus Collection              1
Name: count, Length: 1691, dtype: int64

__Most budget total__

In [170]:
df_analysis.dropna(subset=['budget_musd']).groupby(by='belongs_to_collection')['budget_musd'].sum().sort_values(ascending=False)

belongs_to_collection
James Bond Collection                   1539.650000
Harry Potter Collection                 1280.000000
Pirates of the Caribbean Collection     1250.000000
The Fast and the Furious Collection     1009.000000
X-Men Collection                         983.000000
                                           ...
Paranormal Investigations Collection       0.000500
The August Underground Collection          0.000300
Tarzan (Johnny Weissmuller series)         0.000095
The Prophecy Collection                    0.000008
Philo & Clyde Collection                   0.000005
Name: budget_musd, Length: 827, dtype: float64

__Most budget mean__

In [171]:
df_analysis.dropna(subset=['budget_musd']).groupby(by='belongs_to_collection')['budget_musd'].mean().sort_values(ascending=False)

belongs_to_collection
Tangled Collection                      260.000000
The Avengers Collection                 250.000000
Pirates of the Caribbean Collection     250.000000
The Hobbit Collection                   250.000000
Man of Steel Collection                 237.500000
                                           ...
Paranormal Investigations Collection      0.000500
The August Underground Collection         0.000300
Tarzan (Johnny Weissmuller series)        0.000095
The Prophecy Collection                   0.000008
Philo & Clyde Collection                  0.000005
Name: budget_musd, Length: 827, dtype: float64

__Most revenue total__

In [172]:
df_analysis.dropna(subset='revenue_musd').groupby(by='belongs_to_collection')['revenue_musd'].sum().sort_values(ascending=False)

belongs_to_collection
Harry Potter Collection                                   7707.367425
Star Wars Collection                                      7434.494790
James Bond Collection                                     7106.970239
The Fast and the Furious Collection                       5125.098793
Pirates of the Caribbean Collection                       4521.576826
                                                             ...
Fist of the North Star: The Legends of the True Savior       0.000862
Tiny Times Collection                                        0.000126
The Prophecy Collection                                      0.000016
Bats Collection                                              0.000010
Borsalino Collection                                         0.000003
Name: revenue_musd, Length: 749, dtype: float64

__Most revenue mean__

In [173]:
df_analysis.dropna(subset='revenue_musd').groupby(by='belongs_to_collection')['revenue_musd'].mean().sort_values(ascending=False)

belongs_to_collection
Avatar Collection                                         2787.965087
The Avengers Collection                                   1462.480802
Frozen Collection                                         1274.219009
Finding Nemo Collection                                    984.453213
The Hobbit Collection                                      978.507785
                                                             ...
Fist of the North Star: The Legends of the True Savior       0.000862
Tiny Times Collection                                        0.000063
The Prophecy Collection                                      0.000016
Bats Collection                                              0.000010
Borsalino Collection                                         0.000003
Name: revenue_musd, Length: 749, dtype: float64

__most Rating mean__

In [174]:
df_analysis.dropna(subset='vote_average').groupby(by='belongs_to_collection')['vote_average'].mean().sort_values(ascending=False)

belongs_to_collection
Argo Collection                        9.3
Bloodfight                             9.0
Kenji Misumi's Trilogy of the Sword    9.0
Dreileben                              9.0
Алиса в стране чудес (Коллекция)       8.7
                                      ...
The Hobgoblin Collection               2.2
Richard the Lionheart Collection       1.9
The Flicka Collection                  1.9
Skeleton Key Collection                1.8
Mystery Woman                          0.0
Name: vote_average, Length: 1677, dtype: float64

## Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of

- __total number of movies__
- __total revenue__
- __mean rating__

__Direct most numbers of movies__

In [175]:
df_analysis['director'].value_counts().dropna()

director
John Ford           66
Michael Curtiz      65
Werner Herzog       54
Alfred Hitchcock    53
Georges Méliès      49
                    ..
Jason Osder          1
John Alan Simon      1
Jennifer Kent        1
Hiroshi Ando         1
Daisy Asquith        1
Name: count, Length: 17349, dtype: int64

__Direct most revenue movies__

In [176]:
df_analysis.dropna(subset=['revenue_musd']).groupby(by=['director'])['revenue_musd'].sum().sort_values(ascending=False)

director
Steven Spielberg    9256.621422
Peter Jackson       6528.244659
Michael Bay         6437.466781
James Cameron       5900.610310
David Yates         5334.563196
                       ...
Peter Sasdy            0.000001
Wu Tian-Ming           0.000001
Eric Hannah            0.000001
William Riead          0.000001
Glen Pitre             0.000001
Name: revenue_musd, Length: 3357, dtype: float64

_Direct most rating movies__

In [177]:
df_analysis.dropna(subset=['vote_average']).groupby(by=['director'])['vote_average'].sum().sort_values(ascending=False)

director
John Ford           421.2
Werner Herzog       367.5
Alfred Hitchcock    351.9
Michael Curtiz      341.9
Woody Allen         327.9
                    ...
Ned Crowley           0.0
Robert S. Baker       0.0
Amit Masurkar         0.0
Crayton Robey         0.0
Adam Spinks           0.0
Name: vote_average, Length: 16380, dtype: float64