In [1]:
import yfinance as yf
import pandas as pd

In [2]:
ticker = ["AAPL", "BA", "KO", "IBM", "DIS", "MSFT",'TSLA','GOOG']

In [3]:
stocks = yf.download(ticker,start="2010-01-01",end="2024-06-21")

[*********************100%%**********************]  8 of 8 completed

In [4]:
stocks.head(10)

Price      Adj Close                                                         \
Ticker          AAPL         BA        DIS       GOOG        IBM         KO
Date
2010-01-04  6.470741  43.777554  27.843176  15.592496  76.767426  18.209940
2010-01-05  6.481928  45.211342  27.773724  15.523831  75.840065  17.989653
2010-01-06  6.378824  46.582806  27.626127  15.132495  75.347420  17.983269
2010-01-07  6.367033  48.468555  27.634811  14.780218  75.086624  17.938578
2010-01-08  6.409362  48.001015  27.678219  14.977255  75.840065  17.606554
2010-01-11  6.352822  47.432171  27.226757  14.954616  75.046028  17.964111
2010-01-12  6.280560  47.089306  26.757929  14.690158  75.643021  18.158859
2010-01-13  6.369150  47.658157  27.165985  14.605821  75.480728  18.206741
2010-01-14  6.332261  47.969837  26.931566  14.674485  76.686302  18.238667
2010-01-15  6.226436  47.393211  26.566925  14.429433  76.379074  17.970499

Price                          Close             ...       Open       \
Ticker           MSFT TSLA      AAPL         BA  ...       MSFT TSLA
Date                                             ...
2010-01-04  23.431587  NaN  7.643214  56.180000  ...  30.620001  NaN
2010-01-05  23.439161  NaN  7.656429  58.020000  ...  30.850000  NaN
2010-01-06  23.295317  NaN  7.534643  59.779999  ...  30.879999  NaN
2010-01-07  23.053049  NaN  7.520714  62.200001  ...  30.629999  NaN
2010-01-08  23.212034  NaN  7.570714  61.599998  ...  30.280001  NaN
2010-01-11  22.916773  NaN  7.503929  60.869999  ...  30.709999  NaN
2010-01-12  22.765362  NaN  7.418571  60.430000  ...  30.150000  NaN
2010-01-13  22.977346  NaN  7.523214  61.160000  ...  30.260000  NaN
2010-01-14  23.439161  NaN  7.479643  61.560001  ...  30.309999  NaN
2010-01-15  23.363447  NaN  7.354643  60.820000  ...  31.080000  NaN

Price          Volume                                                    \
Ticker           AAPL        BA       DIS       GOOG      IBM        KO
Date
2010-01-04  493729600   6186700  13700400   78541293  6438444  13870400
2010-01-05  601904800   8867800  10307700  120638494  7156104  23172400
2010-01-06  552160000   8836500  10709500  159744526  5863144  19264600
2010-01-07  477131200  14379100   8202100  257533695  6109268  13234600
2010-01-08  447610800   7146600   7657500  189680313  4390271  28712400
2010-01-11  462229600   5624900  11250500  289597429  5993998  28642400
2010-01-12  594459600   5273800  14618300  194859654  8453249  23269800
2010-01-13  605892000   4950400   9620600  260838034  6752348  15157400
2010-01-14  432894000   3000400   9235600  170239717  7438943  12392600
2010-01-15  594067600   5067300  13936400  218194794  8885142  27460800

Price
Ticker          MSFT TSLA
Date
2010-01-04  38409100  NaN
2010-01-05  49749600  NaN
2010-01-06  58182400  NaN
2010-01-07  50559700  NaN
2010-01-08  51197400  NaN
2010-01-11  68754700  NaN
2010-01-12  65912100  NaN
2010-01-13  51863500  NaN
2010-01-14  63228100  NaN
2010-01-15  79913200  NaN

[10 rows x 48 columns]

In [5]:
stocks.describe()

Price     Adj Close                                                      \
Ticker         AAPL           BA          DIS         GOOG          IBM
count   3640.000000  3640.000000  3640.000000  3640.000000  3640.000000
mean      61.897424   165.862796    91.634138    57.246939   111.063181
std       59.202366    94.848077    39.967897    42.922935    19.459427
min        5.806766    43.777554    25.453196    10.848695    70.936699
25%       17.257506    90.276863    58.946650    22.085429   100.953966
50%       32.934767   138.715004    95.747734    41.620636   109.222683
75%      117.072855   217.622501   110.419085    86.136232   119.852726
max      216.669998   430.299957   201.254089   179.559998   197.779999

Price                                                Close               ...  \
Ticker           KO         MSFT         TSLA         AAPL           BA  ...
count   3640.000000  3640.000000  3518.000000  3640.000000  3640.000000  ...
mean      37.454666   119.566859    74.302485    63.911467   174.992354  ...
std       12.644239   114.135825   101.925305    58.760880    92.322127  ...
min       16.118822    17.580820     1.053333     6.858929    56.180000  ...
25%       27.977347    28.241343    11.380500    20.076518   105.615002  ...
50%       34.837193    59.662079    17.357333    35.281250   148.805000  ...
75%       47.129895   208.309784   149.566666   119.292501   217.622501  ...
max       63.656071   448.369995   409.970001   216.669998   440.619995  ...

Price          Open                     Volume                              \
Ticker         MSFT         TSLA          AAPL            BA           DIS
count   3640.000000  3518.000000  3.640000e+03  3.640000e+03  3.640000e+03
mean     124.864681    74.328732  2.364911e+08  7.333207e+06  1.004493e+07
std      113.109382   102.010105  2.192019e+08  8.565520e+06  6.326033e+06
min       23.090000     1.076000  2.404830e+07  7.889000e+05  2.165700e+06
25%       33.895001    11.381667  8.899282e+07  3.494850e+06  6.572925e+06
50%       65.240002    17.355000  1.461266e+08  4.794400e+06  8.413550e+06
75%      214.534996   150.059166  3.193347e+08  7.464575e+06  1.139525e+07
max      449.709991   411.470001  1.880998e+09  1.032128e+08  8.741070e+07

Price
Ticker          GOOG           IBM            KO          MSFT          TSLA
count   3.640000e+03  3.640000e+03  3.640000e+03  3.640000e+03  3.518000e+03
mean    5.441586e+07  4.980384e+06  1.499581e+07  3.674773e+07  9.679434e+07
std     4.917686e+07  2.786574e+06  6.650444e+06  2.094789e+07  7.885538e+07
min     1.584340e+05  1.247878e+06  2.996300e+06  7.425600e+06  1.777500e+06
25%     2.466270e+07  3.415765e+06  1.084210e+07  2.308260e+07  4.731038e+07
50%     3.438000e+07  4.285880e+06  1.354410e+07  3.086000e+07  8.201895e+07
75%     7.305256e+07  5.590974e+06  1.729862e+07  4.505738e+07  1.225909e+08
max     5.952147e+08  3.981442e+07  9.896750e+07  3.193179e+08  9.140820e+08

[8 rows x 48 columns]

In [15]:
# calculate the cumulative daily returns.
daily_returns = stocks.pct_change()
cumulative_returns = (1 + daily_returns).cumprod()-1
stocks.columns = stocks.columns.get_level_values(1)
cumulative_returns.columns = cumulative_returns.columns.get_level_values(1)
stocks_with_cumulative = stocks.copy()
for i in ticker:
    if ticker in stocks.columns:
        stocks_with_cumulative[f'{i}_Cumulative_Return'] = cumulative_returns[ticker]
    else:
        print(f"Ticker {i} not found in data columns.")

IndexError: Too many levels: Index has only 1 level, not 2